﻿@model IEnumerable<Assignment.Models.Audio>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.audioname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.audiodesc)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.audioname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.audiodesc)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id = item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.id }) | 
            
        </td>
    </tr>
}

</table>
